<!-- Inicio Consejo Regional -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Secretario Ejecutivo Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Asesor Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Asesor Jurídico Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Profesional Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Administrativa Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Periodista Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "Consejo Regional" && worker.unit.name === "Consejo Regional" && worker.charge.name === "Recepcionista Consejo Regional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Fin Consejo Regional -->
