<!--Inicio Jefatura DAF -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "División de Administración y Finanzas" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "División de Administración y Finanzas" && worker.charge.name === "Secretaria" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Jefatura DAF-->

<!--Inicio Departamento de Gestión y Desarrollo de Personas -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Gestión y Desarrollo de Personas" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Gestión y Desarrollo de Personas" && worker.charge.name === "Encargado" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Gestión y Desarrollo de Personas" && worker.charge.name === "Profesional" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Gestión y Desarrollo de Personas" && worker.charge.name === "Tecnico" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Gestión y Desarrollo de Personas" && worker.charge.name === "Administrativo" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Gestión y Desarrollo de Personas" && worker.charge.name === "Auxiliar" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Departamento de Gestión de Personas -->

<!--Inicio Oficina de Partes -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Oficina de Partes" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Oficina de Partes" && worker.charge.name === "Encargado" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Oficina de Partes" && worker.charge.name === "Profesional" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Oficina de Partes" && worker.charge.name === "Tecnico" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Oficina de Partes" && worker.charge.name === "Administrativo" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Oficina de Partes" && worker.charge.name === "Auxiliar" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Oficina de Partes -->

<!--Inicio Departamento de Finanzas -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Finanzas" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Finanzas" && worker.charge.name === "Encargado" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Finanzas" && worker.charge.name === "Profesional" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Finanzas" && worker.charge.name === "Tecnico" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Finanzas" && worker.charge.name === "Administrativo" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Departamento de Finanzas" && worker.charge.name === "Auxiliar" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Departamento de Finanzas -->

<!--Inicio Unidad de Adquisiciones -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Adquisiciones" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Adquisiciones" && worker.charge.name === "Encargado" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Adquisiciones" && worker.charge.name === "Profesional" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Adquisiciones" && worker.charge.name === "Tecnico" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Adquisiciones" && worker.charge.name === "Administrativo" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Adquisiciones" && worker.charge.name === "Auxiliar" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Unidad de Adquisiciones -->

<!--Inicio Unidad de Informatica -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad Informática" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad Informática" && worker.charge.name === "Encargado" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad Informática" && worker.charge.name === "Profesional" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad Informática" && worker.charge.name === "Tecnico" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad Informática" && worker.charge.name === "Administrativo" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad Informática" && worker.charge.name === "Auxiliar" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Unidad de Informatica -->

<!--Inicio Unidad de Servicios Generales -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Servicios Generales" && worker.charge.name === "Jefe" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Servicios Generales" && worker.charge.name === "Encargado" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Servicios Generales" && worker.charge.name === "Profesional" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Servicios Generales" && worker.charge.name === "Tecnico" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Servicios Generales" && worker.charge.name === "Administrativo" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Administración y Finanzas" && worker.unit.name === "Unidad de Servicios Generales" && worker.charge.name === "Auxiliar" %>
    <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--Fin Unidad de Servicios Generales -->
