<!-- Inicio Fomento Productivo e Industrias -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "División de Fomento Productivo e Industrias" && worker.charge.name === "Coordinador" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "División de Fomento Productivo e Industrias" && worker.charge.name === "Profesional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Fin Fomento Productivo e Industrias -->

<!-- Inicio Programa Fondo Innovación para la Competitividad -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "Programa Fondo Innovación para la Competitividad" && worker.charge.name === "Encargado" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "Programa Fondo Innovación para la Competitividad" && worker.charge.name === "Profesional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Fin Fondo Innovación para la Competitividad -->

<!-- Inicio Programa de Gestión Territorial para Zonas Rezagadas -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "Programa de Gestión Territorial para Zonas Rezagadas" && worker.charge.name === "Coordinador Programa" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "Programa de Gestión Territorial para Zonas Rezagadas" && worker.charge.name === "Profesional Programa" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "Programa de Gestión Territorial para Zonas Rezagadas" && worker.charge.name === "Técnico Programa" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Fomento Productivo e Industrias" && worker.unit.name === "Programa de Gestión Territorial para Zonas Rezagadas" && worker.charge.name === "Administrativa Programa" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Fin Programa de Gestión Territorial para Zonas Rezagadas -->
