<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" %>
    <% if worker.charge.name === "Jefe" %>
      <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
    <% end %>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" %>
    <% if worker.charge.name === "Encargado" %>
      <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
    <% end %>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" %>
    <% if worker.charge.name === "Profesional" %>
      <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
    <% end %>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" %>
    <% if worker.charge.name === "Tecnico" %>
      <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
    <% end %>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" %>
    <% if worker.charge.name === "Administrativo" %>
      <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
    <% end %>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" %>
    <% if worker.charge.name === "Auxiliar" %>
      <p><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
    <% end %>
  <% end %>
<% end %>
