<!-- División de Planificación y Desarrollo Territorial -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "División de Planificación y Desarrollo Territorial" && worker.charge.name === "Jefe" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "División de Planificación y Desarrollo Territorial" && worker.charge.name === "Secretaria" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "División de Planificación y Desarrollo Territorial" && worker.charge.name === "Administrativo" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- División de Planificación y Desarrollo Territorial -->

<!-- Departamento de Planificación Estrategica -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Departamento de Planificación Estratégica" && worker.charge.name === "Profesional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Departamento de Planificación Estrategica -->

<!-- Unidad Regional De Asuntos Internacionales -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Unidad Regional De Asuntos Internacionales" && worker.charge.name === "Encargado" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Unidad Regional De Asuntos Internacionales -->

<!-- Departamento de Ordenamiento Territorial -->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Departamento de Ordenamiento Territorial" && worker.charge.name === "Encargado Unidad de Gestión Información Territorial" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Departamento de Ordenamiento Territorial" && worker.charge.name === "Profesional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Departamento de Ordenamiento Territorial" && worker.charge.name === "Profesional en Gestión y Manejo de Recursos Naturales en Ecosistemas Marinos y Lacustres" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Departamento de Ordenamiento Territorial" && worker.charge.name === "Analista de Sistemas de Información Territorial" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!-- Departamento de Ordenamiento Territorial -->

<!--- Unidad de Coordinación de la Inversión --->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Unidad de Coordinación de la Inversión" && worker.charge.name === "Coordinadora" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Unidad de Coordinación de la Inversión" && worker.charge.name === "Profesional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Unidad de Coordinación de la Inversión" && worker.charge.name === "Profesional de Apoyos a Municipios y Preinversión" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--- Unidad de Coordinación de la Inversión --->

<!--- Programa Infraestructura Rural --->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Programa de Infraestructura Rural" && worker.charge.name === "Profesional del Programa de Infraestructura Rural para el Desarrollo Territorial" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--- Programa Infraestructura Rural --->

<!--- Participación Ciudadana --->

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Participación Ciudadana" && worker.charge.name === "Coordinador" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<% @workers.each do |worker| %>
  <% if worker.division.name === "División de Planificación y Desarrollo Territorial" && worker.unit.name === "Participación Ciudadana" && worker.charge.name === "Profesional" %>
    <p class="text-muted"><%= worker.name %> - <%= worker.charge.name %> - <%= worker.email %> - <%= worker.phone %> </p>
  <% end %>
<% end %>

<!--- Participación Ciudadana --->
