<div class="text-center">
  <h1>Equipo Gobierno Regional De Los Ríos</h1>  
</div>

<hr>

<h3>Intendente</h3>
<hr>
<%= render 'mayor' %>

<h3>Administración Regional</h3>
<hr>
<%= render 'ar' %>

<h3>Gabinete</h3>
<hr>
<%= render 'cabinet' %>

<h3>División de Fomento Productivo e Industrias</h3>
<hr>
<%= render 'dfp' %>

<h3>Consejo Regional</h3>
<hr>
<%= render 'core' %>

<h3>Departamento Jurídico</h3>
<hr>
<%= render 'dj' %>

<h3>Unidad de Auditoría Interna</h3>
<hr>
<%= render 'ai' %>

<h3>Unidad de Gestión Estratégica Institucional</h3>
<hr>
<%= render 'gei' %>

<h3>Organizaciones Sociales</h3>
<hr>
<%= render 'os' %>

<h3>División de Presupuesto e Inversión Regional </h3>
<hr>
<%= render 'dpir' %>

<h3>División de Administración y Finanzas</h3>
<hr>
<%= render 'daf' %>

<h3>División de Planificación y Desarrollo Territorial</h3>
<hr>
<%= render 'diplade' %>
