<%= simple_form_for(@worker) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-12">
        <%= f.association :division, label: 'División', include_blank: false %>
        <%= link_to 'Agregar Otra División', new_division_path, class: 'btn btn-info'  %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= f.association :unit, label: 'Unidad', include_blank: false %>
        <%= link_to 'Agregar Otra Unidad', new_unit_path, class: 'btn btn-info' %>
      </div>
      <div class="col-md-6">
        <%= f.association :charge, label: 'Cargo', include_blank: false %>
        <%= link_to 'Agregar Otro Cargo', new_charge_path, class: 'btn btn-info' %>
      </div>
    </div>
    <hr>
    <% if f.object.avatar? %>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <%= image_tag f.object.avatar.url, style: "width: 19,5rem;", class: 'card-img-top' %>
            <div class="card-body">
              <p class="card-text">
                <strong><%= @worker.name %></strong>
              </p>
              <label>
                <%= f.check_box :remove_avatar %>
                Quitar imagen
              </label>
            </div>
          </div>
        </div>
      </div>
    <hr>
    <% end %>
    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :email, label: 'Correo Electronico' %>
    <%= f.input :phone, label: 'Anexo Telefonico' %>
    <%= f.input :avatar, label: 'Foto Funcionario' %>
  </div>
  <hr>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-6">
        <%= f.button :submit, class: 'btn btn-primary btn-block' %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Cancelar', workers_path, class: 'btn btn-danger btn-block' %>
      </div>
    </div>
  </div>
<% end %>
