<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <h3>Funcionarios</h3>
  </div>
  <div class="col-md-6">
    <p class="text-right">
      <% if user_signed_in? %>
        <%= link_to 'Agregar Nuevo Funcionario', new_worker_path, class: 'btn btn-primary' %>
      <% end %>
    </p>
  </div>
</div>
<hr>
<table class="table table-bordered" id="dttb">
  <thead>
    <tr>
      <th>Nombre Funcionario</th>
      <th>Cargo</th>
      <th>Unidad</th>
      <th>División</th>
      <% if user_signed_in? %>
        <th>Opciones</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.charge.name %></td>
        <td><%= worker.unit.name %></td>
        <td><%= worker.division.name %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Ver Funcionario', edit_worker_path(worker), class: 'btn btn-info btn-block btn-sm' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
