<p id="notice"><%= notice %></p>

<h3>Funcionario</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @worker.avatar.url, class: 'card-img-top' %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <h5 class="card-header">Datos Funcionario</h5>
      <div class="card-body">
        <p class="card-text"><strong>Nombre: </strong><%= @worker.name %></p>
        <p class="card-text"><strong>Cargo: </strong><%= @worker.charge.name %> <%= @worker.unit.name %></p>
        <p class="card-text"><strong>División: </strong><%= @worker.division.name %></p>
      </div>
      <div class="card-footer">
        <div class="list-inline">
          <%= link_to 'Editar Funcionario', edit_worker_path(@worker), class: 'btn btn-primary' %>
          <%= link_to 'Volver', workers_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
