<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @worker.phone %>
</p>

<p>
  <strong>Division:</strong>
  <%= @worker.division %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @worker.unit %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @worker.charge %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
